

.toast-glass {
    color: white !important;
  margin: 10px;
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.16) !important;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow:
    0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.5),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1);

  color: #fff;
  font-size: 15px;
}
.toast-glass .Toastify__toast-body {
  color: #ff0000;
}
.Toastify__toast-container--top-center {
  top: 50px !important;
}

#tsparticles {
    
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
 
  z-index: 0;          /* behind UI */
}

.vanta-net {
  position: fixed;
  inset: 0;
  z-index: 0;          /* above gradient */
  pointer-events: none; /* clicks pass through */
}
