.inner{
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, darkblue, purple);

}
.glass-container {
    margin: 10px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
  width: 50vw;
  height: 50vh;
  background: rgba(255, 255, 255, 0.16);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 
    0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.5),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 6px 3px rgba(255, 255, 255, 0.3);
  
  overflow: hidden;
  transition: 0.3s;
}

.add-mc-form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.add-mc-form p{
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  margin: 20px;
}
.add-mc-form input{
  padding: 5px;
  margin: 5px;
  color: white;
  background-color: transparent;
  border: none;
  outline: none;
  text-align: center;
  font-weight: bold;
  letter-spacing: 1px;
  border-bottom-width: 1px;
  border-bottom-color: rgb(213, 220, 220);
  border-bottom-style: solid;
}
.add-mc-form button{
  padding: 10px 30px;
  background-color: aqua;
  font-weight: bolder;
}