
.wp-chart{
  height: 1000px;
  width: 100%;
}
.p-chart{
  height: 100px;
  width: 90%;
}
@media (min-width: 768px) {
    
.wp-chart{
  height: 100%;
  width: 100%;
}
.p-chart{
  height: 10%;
  width: 100%;
}
}