.logoutContainer{
display: flex;
justify-content: center;
align-items: center;
text-align: center;
position: relative;
height: 17px;
width: 17px;
padding: 2px;
margin-right: 10px;
}
.logoutImg{
    height: 17px;
    width: 17px;
    filter: invert(25%) sepia(97%) saturate(7467%) hue-rotate(2deg) brightness(100%) contrast(120%);
    
}
@media (min-width: 768px) {
.logoutContainer{
display: flex;
justify-content: center;
align-items: center;
position: relative;
height: 15px;
width: 15px;
margin: 0px 5px;
padding: 1px;
}
.logoutImg{
    height: 29px;
    width: 29px;
    filter: invert(25%) sepia(97%) saturate(7467%) hue-rotate(2deg) brightness(100%) contrast(120%);
    
}

}