
/*Users*/
.modal-container{
    height: 100vh;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 11;
    background-color: rgba(160, 1, 1, 0.409);
}
.modal{
    height: 150px;
    width: 400px;
    background-image: radial-gradient( circle farthest-corner at 17.6% 50.7%,  rgba(25,0,184,1) 0%, rgba(0,0,0,1) 90% );

    border-radius: 10px; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid white;
    outline: 3px solid red;

    
}
.close-btn{
    position: relative;
    align-items: center;
    text-align: center;
    height: 20px;
    width: 20px;
    top:-20px;
    left: 180px;
    cursor: pointer;
    border: 2px solid rgb(255, 255, 255);
    color: rgb(249, 252, 252);
    border-radius: 5px;
}
.btn-contain{
    display: flex;
    height: 50px;
    width: 100%;
    justify-content: space-evenly;
}
.btn-contain button{
    height: 30px;
    margin: 15px 5px;
    padding: 5px 5px;
    font-weight: bold;
    cursor: pointer;
}
.confirm-btn{
    color: red;
}
.cancel-btn{
    color: rgb(1, 76, 1);
}

.undo-icon{
    height: 20px;
    width: 20px;
    filter: brightness(0) invert(1);
}
.back-button{
    
    height: 30px;
    width: 30px;
    background: none;
    border-color: aliceblue;
    border-width: 3px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.users-container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: radial-gradient( circle farthest-corner at 17.6% 50.7%,  rgba(25,0,184,1) 0%, rgba(0,0,0,1) 90% );
}
.manage-users{
    z-index: 999;
    height: auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.manage-users button{
    display: flex;
    justify-content: center;
    height: 30px;
    width:200px;
    padding: 10px;
    margin: 5px;
    background-color: transparent;
    color: white;
    border-radius: 15px;
    border-color: aliceblue;
    cursor: pointer;
    transition: 1s;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
    align-items: center;
    
}
.users-title{
    color: white;
    padding: 10px;
}
.users-table-conntainer{
    height: 80vh;
    width: 95vw;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    padding: 2px;
    border-radius: 15px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    z-index: 999;


}
.users-table{
    height: auto;
    width: 100%;
    font-size: 12px;
   

}
.users-table-head{
    
    border-collapse: separate;
    border-spacing: 1px;
    background-image: radial-gradient( circle farthest-corner at 17.6% 50.7%,  rgba(25,0,184,1) 0%, rgba(0,0,0,1) 90% );

    position: sticky;
    top: -1px;
    z-index: 10;
}
.users-table td,
.users-table th{
    font-size: 16px;
    padding: 5px 5px;
    text-align: center;
    border: 0.0000125px solid rgba(2, 81, 253, 0.58);

}
.users-table tr{
    height: 20px;
}
.edit{
    background: none;
    padding: 5px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.settings-icon{
    height: 25px;
    width: 25px;
    filter: brightness(0) invert(1);
}

.del{
    background: none;
    padding: 5px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.delete-icon{
    height: 25px;
    width: 25px;
}
@media (min-width: 768px) {
    
/*Users*/
.undo-icon{
    height: 20px;
    width: 20px;
    filter: brightness(0) invert(1);
}
.back-button{
    
    height: 30px;
    width: 30px;
    background: none;
    border-color: aliceblue;
    border-width: 3px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal{
    width: 550px;
}
.close-btn{
    position: relative;
    align-items: center;
    text-align: center;
    height: 20px;
    width: 20px;
    top:-20px;
    left: 250px;
    cursor: pointer;
    border: 2px solid rgb(255, 255, 255);
    color: rgb(249, 252, 252);
    border-radius: 5px;
}
.users-container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: radial-gradient( circle farthest-corner at 17.6% 50.7%,  rgba(25,0,184,1) 0%, rgba(0,0,0,1) 90% );
}
.manage-users{
    height: auto;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.manage-users button{
    display: flex;
    justify-content: center;
    height: 30px;
    width:200px;
    padding: 10px;
    margin: 5px;
    background-color: transparent;
    color: white;
    border-radius: 15px;
    border-color: aliceblue;
    cursor: pointer;
    transition: 1s;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
    align-items: center;
    
}
.users-title{
    color: white;
    padding: 10px;
}
.users-table-conntainer{
    height: 80vh;
    width: 70vw;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    padding: 2px;
    border-radius: 15px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-width: thin;
}
.users-table{
    height: auto;
    width: 100%;
   

}
.users-table-head{
    
    border-collapse: separate;
    border-spacing: 1px;
    background-image: radial-gradient( circle farthest-corner at 17.6% 50.7%,  rgba(25,0,184,1) 0%, rgba(0,0,0,1) 90% );

    position: sticky;
    top: -1px;
    z-index: 10;
}
.users-table td,
.users-table th{
    font-size: 16px;
    padding: 5px 30px;
    text-align: center;
    border: 0.0000125px solid rgba(2, 81, 253, 0.58);

}
.edit{
    background: none;
    padding: 5px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.settings-icon{
    height: 25px;
    width: 25px;
    filter: brightness(0) invert(1);
}

.del{
    background: none;
    padding: 5px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.delete-icon{
    height: 25px;
    width: 25px;
}
}